.form{
    display: flex;
    flex-direction: column;
}
.form label{
    margin: 5px;
}
.form input ,
.form label,
.form textarea{

    width: 60%;
    color: #525252;

}
.form input,
.form textarea{
    background-color: #fff;
    color: #a1a1a1;
    padding: .9375rem .625rem;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    font-family: Miriam Libre;
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .1rem;
    line-height: 1.2;
    box-shadow: none;
}
.form textarea{

}
.buttonLN{
    background: #D6514D;
    border:1px solid #D6514D;
    border-radius: 2px;
    margin-top: 5%;
    width: 15%;
    padding: 10px 0;
    color: #ffffff;
}
.message {
    display: none;
    background: #0b2e;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 1.3rem;
    line-height: 1.5;
}
