.container-fluid{
    background: #ffffff;
    box-shadow: 0 1px 5px #dcdcdc;
}
.headerOth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerOth a:hover{
    text-decoration: none;

}
.headerOth a:hover .logoLN-mini{
    background: #e3342f;
    text-decoration: none;
}
.log-mini{

    display: flex;
    align-items: center;
}
.log-mini h4{
    color:black;
    font-size: 16px;
    margin: 0;

}
.logoLN-mini{
    margin: 10px;
    background:#f4645f;
    width:46px;
    height: 46px;
    border-radius: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}
.headerOth .iconS{
    width: 90px;
    padding: 0;
}

.headerOth .mainNav a{
    font-size: 1rem;
    color:#a1a1a1;
}
