body{
    padding: 0;
    margin: 0 ;
}
div .logoLN{
   margin: 0 auto;
    position: relative;
    z-index: 3;
}
.log .logoLN:hover{
    background: #f22c40;
}
.headerLn{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    top:-147px;
    z-index: 1;
}
.rowRed{
    border-top: 4px solid #f4645f;
    /*background: red;*/
}
.logoLN{
    width: 100px;
    height: 95px;
    text-align: center;
    font-size: 60px;
    color: white;
    line-height: 95px;
    background: #f4645f;
    border-bottom-right-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
.iconS i{
    color: #a1a1a1;
    margin-left: 10px;
}
.searchLn input,
.searchLn button{
    border: none;
    background: none;

}
searchLN{
    width: 207px;
    height: 63px;
}
.searchLn input{
    width: 132px;
    height: 13px;
    padding: 24px 0 24px 30px;
    border-left: 1px solid #f5f5f5;
}
.searchLn button{
    padding: 24px 30px 24px 0;
}
.iconS{
    width: 250px;
    padding-left: 2%;
}
.searchLn{
    padding-right: 2%;
}
.log{
    position: relative;
    color: #000;
    width: 256px;
    height: 147.078px;
    text-align: center;
    z-index: 100;
}
.mainHeader a{
    text-decoration: none;
}
.log p {
    font-size: .5625rem;
    color: #8e8e8e;
    letter-spacing: .2em;
    font-family: Miriam Libre;
    margin: 3px 0 0;
}
.log span{
    color: black;
}
.log h4{
    font-family: Miriam Libre;
    margin: 20px 0 0;
    font-weight: 700;
    letter-spacing: -.02em;
    font-size: inherit;
}
.mainNav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}
.mainNav a {
    text-decoration: none;
    color: #525252;
}
.mainNav a:hover {
    text-decoration: none;
    color: #e4606d;
}
.mainNav li {
    margin-left: 30px;
    font-size: 1.25rem;
}
.loginLN {
    background: #ffffff;
}
