.center-text{
    text-align: center;
}
li{
   list-style: none;
}
.string-blue{
    height: 4px;
    background: #1f6fb2;
}
.col-md-4{
    vertical-align: middle;
}
.col-md-4 .title{
    margin: 0 auto;

}
.title{
    width: 40%;
    height: 100px;
    background: #1f6fb2;
    font-family: "Monotype Corsiva";
    font-size: 2em;
    margin-top: -3px;
}
