body{
    margin: 0;
    padding: 0;
}
.header{

}
.stringRed{
    background: #f4645f;
    height: 3px;
}
.logoLN{
    background: #f4645f;
    text-align: center;
    color: #fff;
    font-family: "Myriad Pro Cond";
    font-size: 4em;
    height: 100px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
i{
    margin-left: 20px;

}
 .text1 a{
    color: black !important;
    text-decoration: none;
}

 .nav{
     font-family: "Adobe Song Std L";
     font-size: 1.5em;
     margin-top: 5%;

 }
.nav-link{
    display:block;
    padding:.5rem 1rem;
    color: grey;

}
.nav-link:focus,
.nav-link:hover{
    text-decoration:none;
    color: #f4645f;
    border:none;
    background: none;
}
.nav-link .disabled{
    color:#6c757d;
}
.subscript{
    background: #F4645F;
}
.postImg{

    height: 90%;
    background: url("../img/laravel-craftsman-cli.jpg")  no-repeat;
    background-size:cover;
}
.newsImg{
    height: 200px;
    background: url("../img/laravel-up-and-running-2nd-edition.png")  no-repeat;
    background-size:contain;
}
.textNews{
    background: brown;
}
